@import "../fonts.css";

.button {
    border: none;
    background-color: #9484C3;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 5px 15px #796ba1;
}

.button:hover {
    background-color: #a190d1;
}

.button:active {
    background-color: #796ba1;
}