@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

.button {
    border: none;
    background-color: #9484C3;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 5px 15px #796ba1;
}

.button:hover {
    background-color: #a190d1;
}

.button:active {
    background-color: #796ba1;
}

@media only screen and (max-width: 650px) {
    .button {
        width: 115.5px;
        height: 30px;
    }
}