@import "../fonts.css";

.navbar {
    width: 95%;
    border: 2px solid white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 7vh;
    margin-top: 3vh;
    box-shadow: 2px 5px 15px grey;
    background-color: rgba(255, 255, 255, 0.3);
}

.logo_container {
    width: 20%;
    margin-left: 20px;
}


.navbar_text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2vw;
    font-weight: 600;
    margin-right: 50px;
}

/* Smol Screen */
@media only screen and (max-width: 650px) {
    .navbar_text {
        font-size: 2vh;
    }
}


/* Big Screen */
@media only screen and (min-width: 1450px) {
    .navbar_text {
        font-size: 1vw;
    }

    .navbar {
        width: 70%;
    }
}