@import "../fonts.css";

.navbar {
    width: 95%;
    border: 2px solid white;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 7vh;
    margin-top: 3vh;
    box-shadow: 2px 5px 15px grey;
}

.logo_container {
    width: 20%;
    margin-left: 20px;
}


.navbar_text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2vw;
    font-weight: 600;
    margin-right: 50px;
}


.navbar_link {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
}