@import "../fonts.css";

.project_item {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 1px 5px 15px grey;
    margin-bottom: 5vh;
    justify-content: space-between;
    align-items: center;
}


.project_image {
    display: block;
    width: 20%;
    margin-left: 2vw;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
}

.project_text {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15vw;
    inline-size: 50vw;
    font-size: 2vw;
}

.project_title {
    font-size: 3vw;
    font-weight: 600;
    margin: 0px;
}

/* Smol Screen */
@media only screen and (max-width: 650px) {
    .project_title {
        font-size: 2vh;
    }

    .project_text {
        font-size: 1.25vh;
    }

}

/* Big Screen */
@media only screen and (min-width: 1450px) {
    .project_title {
        font-size: 2vw;
    }

    .project_text {
        font-size: 1vw;
    }

    .project_item {
        width: 70%;
    }
}

/* Regular Screen */
@media only screen and (min-width: 650px) {
    .project_image {
        height: 45%;
        margin-left: 20px;
    }

    .project_item {
        height: 25vh;
    }
}