.site_template_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* Make sure that background fits */
    background: url("../../public/Background.png");
    background-size: cover;
}